# Data Structures Quiz
## 1. Numbers
### Q1: What is the result of the following operation?

```python
7 * 8 - 5

### Q2: How would you calculate the remainder of dividing 15 by 4?

```python

# Write the expression

### Q3: What is the output of 2 ** 3 in Python?

```python

# Answer:

# 2. Strings
### Q4: How do you create a string with the value "Hello, World!"?

```python
# Write the code:

### Q5: What will len("Python") return?

``` python
# Answer:

### Q6: If greeting = "Hello, World!", what will greeting[7:12] return?

```python
# Answer:

### Q7: Given name = "Alice", use string formatting to create the string "Hello, Alice!".

```python
# Write the code:

# 3. Lists
### Q8: How do you create a list with the elements 1, 2, and 3?

```python

# Write the code:

### Q9: What will my_list = [10, 20, 30]; my_list[1] = 25 do to the list?

```python

# Answer:

### Q10: Write a Python expression to append the value 4 to the list numbers = [1, 2, 3].

```python
Copy code
# Write the code:

### Q11: How do you access the last element of a list colors = ["red", "green", "blue"]?

```python

# Write the code:

### Q12: How would you remove the item at index 2 from the list items = ["apple", "banana", "cherry"]?

```python

# Write the code:

# 4. Dictionaries
### Q13: Create a dictionary with the keys "name", "age", and "city", and corresponding values "Alice", 30, and "New York".

```python

# Write the code:

### Q14: How do you access the value associated with the key "age" in the dictionary person = {"name": "Bob", "age": 25}?

```python

# Write the code:

### Q15: How do you add a new key-value pair "job": "Engineer" to the dictionary person = {"name": "Bob", "age": 25}?

```python

# Write the code:

### Q16: What does the keys() method do when used on a dictionary?

```python
# Answer:

# 5. Tuples
### Q17: How do you create a tuple with the elements 10, 20, and 30?

```python
# Write the code:

### Q18: If my_tuple = (1, 2, 3, 4), what will my_tuple[2] return?

```python

# Answer:

### Q19: What happens if you try to modify the first element of a tuple my_tuple = (1, 2, 3) by writing my_tuple[0] = 10?

```python

# Answer:

# 6. Sets
### Q20: How do you create a set with the elements 1, 2, 3, and 4?

```python
# Write the code:

### Q21: What is the result of the following operation?

```python

set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_c = set_a.intersection(set_b)
# What is the value of set_c?

### Q22: How would you add an element 6 to the set numbers = {1, 2, 3, 4, 5}?

```python
Copy code
# Write the code:

# 7. Booleans
### Q23: What does the following expression evaluate to?

```python

(5 > 3) and (2 < 1)
# Answer:

### Q24: What will not (4 == 4) return?

```python

# Answer:

### Q25: Write a Python expression using or that returns True if either a is greater than b or c is less than d.

```python

# Write the code:

# 8. Files
### Q26: How do you open a file named data.txt for reading?

```python
# Write the code:

### Q27: Write a Python statement to write the string "Hello, World!" to a file named output.txt.

```python

# Write the code:

### Q28: Using the with statement, write code to open a file named example.txt, read its contents, and print them.

```python

# Write the code: